<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="PaveStone.Installer" Language="1033" Version="1.0.0.1">
    <Package Id="{9F6288B3-2752-401A-A20B-92CA0BC298D8}"
             Manufacturer="Free Jewels"
             InstallerVersion="200" />

    <!-- This next bit defines the plug-in file and registry entry for Rhino -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- We do a per-user installation to the Roaming AppData folder -->
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <!-- Our directory is called MARIN Rhino Plug-Ins -->
        <Directory Id="PLUGINFOLDER" Name="Free Jewels Rhino Plug-Ins" >
          <!-- this defines the RHP file -->
          <Component Id="FJ_PaveStone" Guid="{D6D22025-8719-4E0A-95D6-83D66A1784E6}">
            <!-- Install the plug-in from dev/bin/win64/Release to the plug-in folder-->
            <File Id="FJ_PaveStone" Name="FJ_PaveStone.rhp" Source="C:/Users/SEB/source/Repos/Free_Jewels/Free_Jewels_Privat/FJ_PaveStone/FJ_PaveStone/bin/FJ_PaveStone.rhp"/>

            <!-- this is required because we install in the user profile -->
            <RemoveFolder Id="remPLUGINFOLDER" Directory="PLUGINFOLDER" On="uninstall"/>

            <!-- this is required because we install in the user profile -->
            <RegistryKey Root="HKCU" Key="Software\Free Jewels\RhinoPlugIns">
              <RegistryValue Name="FJ_PaveStone" Value="1" KeyPath="yes" Type="integer"/>
            </RegistryKey>

            <!-- the following will tell Rhinoceros to find the plug-in there on the next run -->
            <RegistryKey Root="HKCU" Key="Software\McNeel\Rhinoceros\6.0\Plug-ins\BFF33437-BFFC-4B33-B54A-F2D009EF0069">
              <RegistryValue Name="Name" Value="FJ Common" Type="string"/>
              <RegistryValue Name="FileName" Value="[PLUGINFOLDER]FJ_PaveStone.rhp" Type="string"/>
            </RegistryKey>

            <!-- when uninstalling, remove the registry entry for this plug-in -->
            <RemoveRegistryKey Root="HKCU" Key="Software\McNeel\Rhinoceros\6.0\Plug-ins\BFF33437-BFFC-4B33-B54A-F2D009EF0069" Action="removeOnUninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
