<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="ScaleEach.Installer" Language="1033" Version="1.0.0.1">
    <Package Id="{B6087E44-3F4A-40B0-92D3-FD4AE4F0FBD3}"
             Manufacturer="Free Jewels"
             InstallerVersion="200" />

    <!-- This next bit defines the plug-in file and registry entry for Rhino -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- We do a per-user installation to the Roaming AppData folder -->
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <!-- Our directory is called MARIN Rhino Plug-Ins -->
        <Directory Id="PLUGINFOLDER" Name="Free Jewels Rhino Plug-Ins" >
          <!-- this defines the RHP file -->
          <Component Id="FJ_ScaleEach" Guid="{16B58DA8-D1BD-4ECD-BCC9-0B7CEAEBFAE3}">
            <!-- Install the plug-in from dev/bin/win64/Release to the plug-in folder-->
            <File Id="FJ_ScaleEach" Name="FJ_ScaleEach.rhp" Source="C:/Users/SEB/source/Repos/Free_Jewels/Free_Jewels_Privat/FJ_ScaleEach/FJ_ScaleEach/bin/FJ_ScaleEach.rhp"/>

            <!-- this is required because we install in the user profile -->
            <RemoveFolder Id="remPLUGINFOLDER" Directory="PLUGINFOLDER" On="uninstall"/>

            <!-- this is required because we install in the user profile -->
            <RegistryKey Root="HKCU" Key="Software\Free Jewels\RhinoPlugIns">
              <RegistryValue Name="FJ_ScaleEach" Value="1" KeyPath="yes" Type="integer"/>
            </RegistryKey>

            <!-- the following will tell Rhinoceros to find the plug-in there on the next run -->
            <RegistryKey Root="HKCU" Key="Software\McNeel\Rhinoceros\6.0\Plug-ins\141e0b15-480a-4b11-b696-4918e6fda34b">
              <RegistryValue Name="Name" Value="FJ Common" Type="string"/>
              <RegistryValue Name="FileName" Value="[PLUGINFOLDER]FJ_ScaleEach.rhp" Type="string"/>
            </RegistryKey>

            <!-- when uninstalling, remove the registry entry for this plug-in -->
            <RemoveRegistryKey Root="HKCU" Key="Software\McNeel\Rhinoceros\6.0\Plug-ins\141e0b15-480a-4b11-b696-4918e6fda34b" Action="removeOnUninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
