<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" 
           Name="Free Jewels" 
           Language="1033" 
           Version="1.0.0.1" 
           Manufacturer="Free Jewels" 
           UpgradeCode="d62c1559-b5a9-4c3f-9724-6860c498639f">
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser"
             Manufacturer="Free Jewels"
             Description="Jewelry plugin for Rhino6"
             Languages="1033" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Free Jewels is already installed." />

    <Upgrade Id='d62c1559-b5a9-4c3f-9724-6860c498639f'>
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
          Minimum='1.0.0' IncludeMinimum='yes'
          Maximum='3.0.0' IncludeMaximum='no' />
    </Upgrade>
    
		<MediaTemplate EmbedCab="yes"  />

    <!-- Define the Free Jewels icon to show in the Add/Remove Programs (ARP) dialog-->
    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\Assets\FreeJewelsIcon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <!-- Create simple UI for the installer-->
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\InstallerBackground.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\InstallerBanner.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\FJ_license.rtf"/>
    
      <!-- Check for .NET 4.0 -->
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <!-- Check for Rhino 6.0 -->
    <Property Id="RHINOX64">
      <RegistrySearch Id="TestAppRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\McNeel\Rhinoceros\6.0\Install"
                      Name="Version"
                      Type="raw" Win64="yes"/>
      <!-- Win64=yes is REQUIRED! -->
    </Property>

    <!-- TODO: check the actual version of Rhino against the version used to build the plug-ins -->
    <Condition Message="[ProductName] require Rhino 6.0. Please install Rhino then run this installer again.">
      <![CDATA[Installed OR RHINOX64]]>
    </Condition>


    <Feature Id="FreeJewelsInstaller" Title="Free Jewels" Level="1">
      <!--  Dependencies -->
      <ComponentGroupRef Id="ProductComponents"/>
      <!-- Common plug-in -->
      <Feature Id="FJ_CenterPoint" Title="CenterPoint.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="CenterPoint.Installer"/>
      </Feature>
      <Feature Id="FJ_ChainMaker" Title="ChainMaker.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="ChainMaker.Installer"/>
      </Feature>
      <Feature Id="FJ_CurveToCircle" Title="CurveToCircle.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="CurveToCircle.Installer"/>
      </Feature>
      <Feature Id="FJ_Expand" Title="Expand.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="Expand.Installer"/>
      </Feature>
      <Feature Id="FJ_GemMaker" Title="GemMaker.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="GemMaker.Installer"/>
      </Feature>
      <Feature Id="FJ_IterativeBoolDif" Title="IterativeBoolDif.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="IterativeBoolDif.Installer"/>
      </Feature>
      <Feature Id="FJ_IterativeBoolUn" Title="IterativeBoolUn.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="IterativeBoolUn.Installer"/>
      </Feature>
      <Feature Id="FJ_IterativeOffset" Title="IterativeOffset.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="IterativeOffset.Installer"/>
      </Feature>
      <Feature Id="FJ_Mat" Title="Mat.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="Mat.Installer"/>
      </Feature>
      <Feature Id="FJ_MirrorCurve" Title="MirrorCurve.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="MirrorCurve.Installer"/>
      </Feature>
      <Feature Id="FJ_NumberObjects" Title="NumberObjects.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="NumberObjects.Installer"/>
      </Feature>
      <Feature Id="FJ_OrientObjOnSurface" Title="OrientObjOnSurface.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="OrientObjOnSurface.Installer"/>
      </Feature>
      <Feature Id="FJ_PaveDrill" Title="PaveDrill.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="PaveDrill.Installer"/>
      </Feature>
      <Feature Id="FJ_PaveSet" Title="PaveSet.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="PaveSet.Installer"/>
      </Feature>
      <Feature Id="FJ_PaveStone" Title="PaveStone.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="PaveStone.Installer"/>
      </Feature>
      <Feature Id="FJ_Report" Title="Report.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="Report.Installer"/>
      </Feature>
      <Feature Id="FJ_ScaleEach" Title="ScaleEach.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="ScaleEach.Installer"/>
      </Feature>
      <Feature Id="FJ_MultiPipe" Title="Multipipe.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="Multipipe.Installer"/>
      </Feature>
      <Feature Id="FJ_PaveOnLine" Title="PaveOnLine.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="PaveOnLine.Installer"/>
      </Feature>
      <Feature Id="FJ_FreeJewelsToolbar" Title="FreeJewelsToolbar.Installer Plug-Ins" Level="2" Absent="disallow">
        <MergeRef Id="FreeJewelsToolbar.Installer"/>
      </Feature>
    </Feature>
	</Product>

  <!-- This is where the merge modules are referenced. Each plug-in creates a merge module -->
  <Fragment Id="FRG_Merge">
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="CenterPoint.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_CenterPoint\CenterPoint.Installer\bin\Debug\CenterPoint.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="ChainMaker.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_ChainMaker\ChainMaker.Installer\bin\Debug\ChainMaker.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="CurveToCircle.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_CurveToCircle\CurveToCircle.Installer\bin\Debug\CurveToCircle.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="Expand.Installer"      
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_Expand\Expand.Installer\bin\Debug\Expand.Installer.msm"       
             Language="1033" 
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="GemMaker.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_GemMaker\GemMaker.Installer\bin\Debug\GemMaker.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="IterativeBoolDif.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_IterativeBoolDif\IterativeBoolDif.Installer\bin\Debug\IterativeBoolDif.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="IterativeBoolUn.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_IterativeBoolUn\IterativeBoolUn.Installer\bin\Debug\IterativeBoolUn.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="IterativeOffset.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_IterativeOffset\IterativeOffset.Installer\bin\Debug\IterativeOffset.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="Mat.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_Mat\Mat.Installer\bin\Debug\Mat.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="MirrorCurve.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_MirrorCurve\MirrorCurve.Installer\bin\Debug\MirrorCurve.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="NumberObjects.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_NumberObjects\NumberObjects.Installer\bin\Debug\NumberObjects.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="OrientObjOnSurface.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_OrientObjOnSurface\OrientObjOnSurface.Installer\bin\Debug\OrientObjOnSurface.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="PaveDrill.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_PaveDrill\PaveDrill.Installer\bin\Debug\PaveDrill.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="PaveSet.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_PaveSet\PaveSet.Installer\bin\Debug\PaveSet.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="PaveStone.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_PaveStone\PaveStone.Installer\bin\Debug\PaveStone.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="Report.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_Report\Report.Installer\bin\Debug\Report.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="ScaleEach.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_ScaleEach\ScaleEach.Installer\bin\Debug\ScaleEach.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="Multipipe.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_MultiPipe\Multipipe.Installer\bin\Debug\Multipipe.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="PaveOnLine.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_PaveOnLine\PaveOnLine.Installer\bin\Debug\PaveOnLine.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR" >
      <Merge Id="FreeJewelsToolbar.Installer"
             SourceFile="C:\Users\SEB\source\Repos\Free_Jewels\Free_Jewels_Privat\FJ_FreeJewelsToolbar\FreeJewelsToolbar.Installer\bin\Debug\FreeJewelsToolbar.Installer.msm"
             Language="1033"
             DiskId="1"/>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir"></Directory>
    <ComponentGroup Id="ProductComponents" Directory="TARGETDIR">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>

	
</Wix>
