<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="Report.Installer" Language="1033" Version="1.0.0.1">
    <Package Id="{439835CE-15A1-4064-B2A6-F3297BA23539}"
             Manufacturer="Free Jewels"
             InstallerVersion="200" />

    <!-- This next bit defines the plug-in file and registry entry for Rhino -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- We do a per-user installation to the Roaming AppData folder -->
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <!-- Our directory is called MARIN Rhino Plug-Ins -->
        <Directory Id="PLUGINFOLDER" Name="Free Jewels Rhino Plug-Ins" >
          <!-- this defines the RHP file -->
          <Component Id="FJ_Report" Guid="{13446DE4-1622-401A-B090-6A111A5149C0}">
            <!-- Install the plug-in from dev/bin/win64/Release to the plug-in folder-->
            <File Id="FJ_Report" Name="FJ_Report.rhp" Source="C:/Users/SEB/source/Repos/Free_Jewels/Free_Jewels_Privat/FJ_Report/FJ_Report/bin/FJ_Report.rhp"/>
            
            <!-- this is required because we install in the user profile -->
            <RemoveFolder Id="remPLUGINFOLDER" Directory="PLUGINFOLDER" On="uninstall"/>

            <!-- this is required because we install in the user profile -->
            <RegistryKey Root="HKCU" Key="Software\Free Jewels\RhinoPlugIns">
              <RegistryValue Name="FJ_Report" Value="1" KeyPath="yes" Type="integer"/>
            </RegistryKey>

            <!-- the following will tell Rhinoceros to find the plug-in there on the next run -->
            <RegistryKey Root="HKCU" Key="Software\McNeel\Rhinoceros\6.0\Plug-ins\870A7BEE-3A04-4E7A-9B91-97CE78502E47">
              <RegistryValue Name="Name" Value="FJ Common" Type="string"/>
              <RegistryValue Name="FileName" Value="[PLUGINFOLDER]FJ_Report.rhp" Type="string"/>
            </RegistryKey>

            <!-- when uninstalling, remove the registry entry for this plug-in -->
            <RemoveRegistryKey Root="HKCU" Key="Software\McNeel\Rhinoceros\6.0\Plug-ins\870A7BEE-3A04-4E7A-9B91-97CE78502E47" Action="removeOnUninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
